/* Estilos CSS */
header {
    background: linear-gradient(180deg, #00ffff, #ff00c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


body {
    background-color: rgb(26, 27, 34);
    text-align: center;
    color: white;
    cursor: url("static/cursor.png"), auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


form {
    margin-top: 20px;
}


input[type="text"], 
input[type="password"] {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.2s ease-in-out;
    padding: 8px;
    margin-right: 10px;
    margin: 3px;
}

button {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.2s ease-in-out;
    padding: 10px 10px;
    color: black;
    cursor: pointer;
}


button:hover {
    background-color: black;
    color: white;
}
